ul li{
    list-style-type: circle;
}
.role-text{
    color: rgb(50, 50, 237);
}

.actions span button {
    border: none;
    background-color: #fff;
}

.nav li{
    list-style-type: none;
}

.book-nav li:hover{
    background-color: #0000ef;
    border: none;
    border-radius: 10px;
}
