{% extends "home.html" %}

{% block title %}  Dashboard | {{ current.firstname}}  {% endblock %}


{% block body %} 
<main class="d-flex flex-nowrap">
  <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark min-vh-100" style="width: 280px;">
    <div class="user-info">
        <h4>{{current.firstname}} {{current.lastname}}</h4>
        <p>{{current.email}}</p>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto book-nav">
      <li class="nav-item mb-4 border-bottom rounded-bottom">
        <h5>
          <a href="#" class="nav-link text-white">
          Home
        </a>
      </h5>
      </li>
      <li class="nav-item mb-4 border-bottom rounded-bottom">
        <h5>
          <a href="#" class="nav-link text-white">
          View Appointment
        </a>
      </h5>
      </li>
      <li class="nav-item mb-4 border-bottom rounded-bottom">
        <h5>
          <a href="#" class="nav-link text-white">
          Edit Info
        </a>
      </h5>
      </li>
      <li class="nav-item mb-4 border-bottom rounded-bottom">
        <h5>
          <a href="#" class="nav-link text-white">
          list-item
        </a>
      </h5>
      </li>
    </ul>
    <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>mdo</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New Appointment</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
  <h1>Home Content</h1>
</main>
  
{% endblock %}